tei-div[type=textpart][subtype=canon] {
  font-family: 'medieval', serif;
}
tei-div[type=textpart][subtype=dictum] {
  font-family: 'medieval', serif;
  font-style: italic;
}
tei-div[type=textpart][subtype=inscription] {
  font-family: 'medieval', serif;
  font-style: italic;
}
tei-div[type=textpart][subtype=rubric] {
  color: red;
  font-family: 'medieval', serif;
  font-style: italic;
}
