@font-face {
    font-family: "medieval";
    src: url("fonts/Junicode.woff") format('woff');
}
@font-face {
    font-family: "medieval";
    src: url("fonts/Junicode-Bold.woff") format('woff');
    font-weight: Bold;
}
@font-face {
    font-family: "medieval";
    src: url("fonts/Junicode-BoldItalic.woff") format('woff');
    font-weight: Bold;
    font-style: italic;
}
@font-face {
    font-family: "medieval";
    src: url("fonts/Junicode-Italic.woff") format('woff');
    font-style: italic;
}
p.local { font-family: Junicode; font-size: 200% }
p.woff { font-family: medieval; font-size: 200% }
