@import url('https://fonts.googleapis.com/css?family=Cardo');
@font-face {
    font-family: Junicode;
    src: url('/fonts/Junicode.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: Junicode;
    src: url('/fonts/Junicode-Bold.woff') format('woff');
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: Junicode;
    src: url('/fonts/Junicode-BoldItalic.woff') format('woff');
    font-style: italic;
    font-weight: bold;
}
@font-face {
    font-family: Junicode;
    src: url('/fonts/Junicode-Italic.woff') format('woff');
    font-style: italic;
    font-weight: normal;
}
body { font-family: Junicode, Cardo, serif; font-size: 200% }
