@font-face {
    font-family: 'Junicode';
    font-style: normal;
    font-weight: 400;
    src: local('Junicode'), local('Junicode-Regular'), url("fonts/Junicode.woff") format('woff');
}
@font-face {
    font-family: "Junicode";
    src: url("fonts/Junicode-Bold.woff") format('woff');
    font-weight: Bold;
}
@font-face {
    font-family: "Junicode";
    src: url("fonts/Junicode-BoldItalic.woff") format('woff');
    font-weight: Bold;
    font-style: italic;
}
@font-face {
    font-family: "Junicode";
    src: url("fonts/Junicode-Italic.woff") format('woff');
    font-style: italic;
}
body { font-family: Junicode; font-size: 200% }
