@import url('https://fonts.googleapis.com/css?family=Arvo');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
/* 581-612 */
/* Need head with TEI parent to distinguish from HTML head */
tei-div {
  font-family: 'Open Sans', sans-serif;
}
tei-TEI tei-head {
  display: block;
  font-family: Arvo, sans-serif;
  font-weight: normal;
}
tei-div > tei-head {
  font-size: 150%;
  text-indent: -0.5em;
}
tei-div > tei-div > tei-head {
  font-size: 120%;
}
tei-div > tei-div > tei-div > tei-head {
  font-size: 120%;
}
tei-div > tei-div > tei-div > tei-div > tei-head {
  font-size: 120%;
}
tei-div > tei-div > tei-div > tei-div > tei-div > tei-head {
  font-size: 120%;
}
