@import url('https://fonts.googleapis.com/css?family=Arvo');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
tei-TEI tei-head {
  display: block;
  font-family: Arvo, sans-serif;
  font-weight: normal;
}
tei-div {
  font-family: 'Open Sans', serif;
}
tei-div > tei-head {
  font-size: 130%;
  text-indent: -0.5em;
}
tei-div > tei-div > tei-head {
  font-size: 115%;
}
tei-div > tei-div > tei-div > tei-head {
  font-size: 115%;
}
tei-div > tei-div > tei-div > tei-div > tei-head {
  font-size: 115%;
}
