@import url('https://fonts.googleapis.com/css?family=Arvo');
@import url('https://fonts.googleapis.com/css?family=Cardo');
tei-TEI tei-head {
  display: block;
  font-family: Cardo, serif;
  font-size: 200%;
  font-weight: bold;
}
tei-div {
  font-family: Cardo, serif;
}
tei-titleStmt > tei-author {
  display: block;
  font-family: Cardo, serif;
  font-size: 150%;
  margin-bottom: 1em;
}
tei-titleStmt > tei-editor {
  display: block;
  font-family: Cardo, serif;
  font-size: 125%;
  margin-bottom: 1em;
}
tei-titleStmt > tei-title {
  display: block;
  font-family: Cardo, serif;
  font-weight: normal;
  font-weight: bold !important;
  font-size: 250%;
}
/*
 */
tei-div > tei-head {
  font-size: 150%;
  text-indent: -0.5em;
  font-weight: bold;
}
tei-div > tei-div > tei-head {
  font-size: 125%;
  font-weight: bold;
}
tei-div > tei-div > tei-div > tei-head {
  font-size: 100%;
  font-weight: bold;
}
