@import url('https://fonts.googleapis.com/css?family=Arvo');
/* 581-612 */
/* Need head with TEI parent to distinguish from HTML head */
tei-TEI tei-head {
  display: block;
  font-family: Arvo, sans-serif;
  font-weight: normal;
}
tei-div > tei-head {
  color: green;
  font-size: 150%;
  text-indent: -0.5em;
}
tei-div > tei-div > tei-head {
  color: blue;
  font-size: 125%;
}
tei-div > tei-div > tei-div > tei-head {
  color: yellow;
  font-size: 125%;
}
tei-div > tei-div > tei-div > tei-div > tei-head {
  color: purple;
  font-size: 125%;
}
tei-div > tei-div > tei-div > tei-div > tei-div > tei-head {
  font-size: 125%;
}
