@font-face {
    font-family: "myfont";
    src: url("fonts/Junicode.woff") format('woff');
}

@font-face {
    font-family: "myfont";
    src: url("fonts/Junicode-Bold.woff") format('woff');
    font-weight: Bold;
}

@font-face {
    font-family: "myfont";
    src: url("fonts/Junicode-BoldItalic.woff") format('woff');
    font-weight: Bold;
    font-style: italic;
}

@font-face {
    font-family: "myfont";
    src: url("fonts/Junicode-Italic.woff") format('woff');
    font-style: italic;
}
@import url('https://fonts.googleapis.com/css?family=Cardo');
tei-div[type=textpart][subtype=canon] {
  font-family: 'myfont', serif;
}
tei-div[type=textpart][subtype=dictum] {
  font-family: 'myfont', serif;
  font-style: italic;
}
tei-div[type=textpart][subtype=inscription] {
  font-family: 'myfont', serif;
  font-style: italic;
}
tei-div[type=textpart][subtype=rubric] {
  color: red;
  font-family: 'myfont', serif;
  font-style: italic;
}
