@import url('https://fonts.googleapis.com/css?family=Cardo');
tei-div[type=textpart][subtype=dictum_init] {
  font-style: italic;
}
tei-div[type=textpart][subtype=canon] {
  font-family: 'Cardo', serif;
}
tei-div[type=textpart][subtype=dictum] {
  font-family: 'Cardo', serif;
  font-style: italic;
}
tei-div[type=textpart][subtype=inscription] {
  font-family: 'Cardo', serif;
  font-style: italic;
}
tei-div[type=textpart][subtype=rubric] {
  color: red;
  font-family: 'Cardo', serif;
  font-style: italic;
}
